[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=<%= @name %>
<% if @properties %>
Comment=Run <%= @name %> from <%= @properties %>
Exec=env IDEA_PROPERTIES="<%= @properties %>" <%= @path %>/bin/idea.sh
<% else %>
Exec=<%= @path %>/bin/idea.sh
<% end %>
Icon=<%= @path %>/bin/idea.png
Terminal=false
Categories=Development;IDE
Path=<%= @path %>